.dot {
  height: 10px;
  width: 10px;
  background-color: #3caf24;
  border-radius: 40%;
  display: inline-block;
}
#redText{
  color: #bf0000;
}
#lightYellowText{
  color: #fffdb5;
}
#greyText{
  color: #c1c1c1;
}
#orangeText{
  color: #cc8b00
}
#whiteText{
  color: #ffffff;
}
